<script lang="ts" setup></script>

<template>
  <div>
    <h1>Projects</h1>
    <div>
      <RouterLink :to="{ name: '/projects/[id]', params: { id: 1 } }">Go to Projects 1</RouterLink>
    </div>
    <div>
      <RouterLink to="/">Go to Home</RouterLink>
    </div>
  </div>
</template>
